.grid {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.square {
    display: flex;
    background-color: gainsboro;
    flex-grow: 1;
}